<h1>Add Author</h1>
<table>
<form action="/authors" method="post">

<tr>
  <th><label for="name"> Name: </label></th>
  <th ><input id="name" type="text" name="name" required></th>
</tr>
<tr>
  <th></th>
  <th><button class="myButton_update" type="submit" value="Create">Create</button></th>
</tr>

</form>
</table>
