<h1>Add Author</h1>
<table>
<form action="/authors" method="post">

<tr>
  <th><label for="name"> Name: </label></th>
  <td><input id="name" type="text" name="name" required></td>
</tr>
  <input type="submit" value="Create">
</form>
</table>
