<h1>All Authors</h1>

<button onclick="location.href= '/authors/search'"type="button" name="button">Search Authors</button>

<table>
  <% @authors.each do |author| %>
  <tr>
    <th>Name:</th>
    <td><a href="/authors/<%= author.id %>"><%= author.name %></td>
    <td><a href="/authors/<%= author.id %>"> Details </a></td>
  </tr>
  <% end %>
</table>
