<h1>All Authors</h1>

<button class="myButton_search" onclick="location.href= '/authors/search'"type="button" name="button">Search Authors</button>

<table>
  <tr>
    <th></th>

  </tr>
  <% @authors.each do |author| %>
  <tr>
    <td class="no_border"><a href="/authors/<%= author.id %>"><%= author.name %></td>
    <td class="no_border"><a href="/authors/<%= author.id %>"> Details </a></td>
  </tr>
  <% end %>
</table>
