<h1>Edit Author</h1>
<form action="/authors/<%= @authors.id %>/update" method="post">
<table>
<tr>
  <th><label for="name"> Name: </label></th>
  <td><input id="name" type="text" name="name" value="<%= @authors.name  %>"required></td>
</tr>

</table>
  <button class="update_button" type="submit" value="Update">Update</button>
</form>
