<% if @authors.length != 0 %>
<table>
  <% @authors.each do |author| %>
  <td>Name</td>
  <tr><td><a href="/authors/<%= author.id %>"><%= author.name%></a></td>
    <% end %>
    <% else %>
    <p>There are no Authors matching this search.</p>
    <% end %>
  </table>
