<h1>Search Authors</h1>
<form action="/authors/search_results", method="get">
<input type="text" name="search"> &emsp;
<button class="myButton_search" type="submit" value="Search">Search</button>
</form>
