<% @authors.each do |author| %>
<p>First Name: <%= author.first_name %></p>
<p>Last Name: <%= author.last_name %></p>
<hr>

<p> <a href="/authors/<%= author.id %>"> Show Full Author Details </a> </p>
<hr>
<% end %>
