<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bruce Books</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i|Raleway:400,400i,700,700i,900" rel="stylesheet">
  </head>
  <body>
<nav>

    <ul> <a href="/books">All Books</a> </ul>
    <ul> <a href="/books/search">Search Books</a> </ul>
    <ul> <a href="/authors">All Authors</a> </ul>
    <ul> <a href="/authors/search">Search Authors</a> </ul>


    <!-- <div class="grid">
      <div class="grid-row">
        <div class="cell"> <a href="/books">All Books</a> </div>
      </div>
        <div class="grid-row">
          <div class="cell"> <a href="/books/search">Search Books</a> </div>
        </div>

          <div class="grid-row">
            <div class="cell"> <a href="/authors">All Authors</a> </div>
          </div>

            <div class="grid-row">
              <div class="cell"> <a href="/authors/search">Search Authors</a </div>
            </div>
 -->

  </nav>
  <%= yield %>

  </body>
</html>
