body {
  background-color: antiquewhite;
}
li {
  font-family: 'Raleway', sans-serif;
  color: indianred;
  list-style-type: none;
}

p {
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: indianred;
}

label {
  font-family: 'Montserrat', sans-serif;
}

table {
    border-collapse: collapse;
    border: 1px solid indianred;
}

th {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  text-align: left;
  padding: 10px;
  font-size: 20px;
    border-bottom: 1px solid indianred;

}

td {
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
  border-bottom: 1px solid indianred;
}

nav {
  padding-right: 30px;
  align-self: flex-start;

}

a {
  color: inherit;
  text-decoration: none;
}


# main_body {
  flex-direction: column;
}

# main_header {
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
}

.out_of_stock {
  color: red;
  font-weight: bold;
}

.low_stock {
  color: orange;
  font-weight: bold;
}

.stock_level_high {
  color: green;
  font-weight: bold;
}

.container {
  display: flex;
}

.book_detail_number {
  text-align: center;
}

.main_header {
  font-size: 40px;
}

.update_button {
   background: #FC7171;
   background-image: -webkit-linear-gradient(top, #FC7171, #CD5C5C);
   background-image: -moz-linear-gradient(top, #FC7171, #CD5C5C);
   background-image: -ms-linear-gradient(top, #FC7171, #CD5C5C);
   background-image: -o-linear-gradient(top, #FC7171, #CD5C5C);
   background-image: linear-gradient(to bottom, #FC7171, #CD5C5C);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Verdana;
   font-size: 40px;
   font-weight: 100;
   padding: 40px;
   box-shadow: 1px 1px 20px 0px #000000;
   -webkit-box-shadow: 1px 1px 20px 0px #000000;
   -moz-box-shadow: 1px 1px 20px 0px #000000;
   text-shadow: 1px 1px 20px #6E092B;
   border: solid #873D3D 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
}

.update_button:hover {
   background: #E06464;
   background-image: -webkit-linear-gradient(top, #E06464, #873D3D);
   background-image: -moz-linear-gradient(top, #E06464, #873D3D);
   background-image: -ms-linear-gradient(top, #E06464, #873D3D);
   background-image: -o-linear-gradient(top, #E06464, #873D3D);
   background-image: linear-gradient(to bottom, #E06464, #873D3D);
   text-decoration: none;
}
/*
.create_plus_button {
	-moz-box-shadow: 3px 4px 0px 0px #8a2a21;
	-webkit-box-shadow: 3px 4px 0px 0px #8a2a21;
	box-shadow: 3px 4px 0px 0px #8a2a21;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #bf2b20));
	background:-moz-linear-gradient(top, #c62d1f 5%, #bf2b20 100%);
	background:-webkit-linear-gradient(top, #c62d1f 5%, #bf2b20 100%);
	background:-o-linear-gradient(top, #c62d1f 5%, #bf2b20 100%);
	background:-ms-linear-gradient(top, #c62d1f 5%, #bf2b20 100%);
	background:linear-gradient(to bottom, #c62d1f 5%, #bf2b20 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#bf2b20',GradientType=0);
	background-color:#c62d1f;
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	border-radius:18px;
	border:1px solid #a61f15;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
.create_plus_button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bf2b20), color-stop(1, #c62d1f));
	background:-moz-linear-gradient(top, #bf2b20 5%, #c62d1f 100%);
	background:-webkit-linear-gradient(top, #bf2b20 5%, #c62d1f 100%);
	background:-o-linear-gradient(top, #bf2b20 5%, #c62d1f 100%);
	background:-ms-linear-gradient(top, #bf2b20 5%, #c62d1f 100%);
	background:linear-gradient(to bottom, #bf2b20 5%, #c62d1f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bf2b20', endColorstr='#c62d1f',GradientType=0);
	background-color:#bf2b20;
}
.create_plus_button:active {
	position:relative;
	top:1px;
} */

/*
.grid {
  border: 1px solid black;

} */

/* .grid-row {
  display: flex;
  font-family: 'Raleway', sans-serif;
} */
/*
.cell {
  flex: 1;
  padding: 10px;
  border: 1px solid black;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
}

.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
} */


/* font family stuff
font-family: 'Raleway', sans-serif;
font-family: 'Montserrat', sans-serif; */
