body {
  background-color: antiquewhite;
}
ul {
  font-family: 'Raleway', sans-serif;
  color: indianred;
}

p {

  font-family: 'Raleway', sans-serif;
}
h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

label {
  font-family: 'Montserrat', sans-serif;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
}

th {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  text-align: left;
  padding: 10px;
  font-size: 20px;
    border-bottom: 1px solid black;

}

td {
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
  border-bottom: 1px solid black;
}

nav {
  padding-right: 30px;
  align-content: flex-start;
}


# main_body {
  padding-left: 30px;
  flex-direction: column;
}

# main_header {
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
}

.grid {
  border: 1px solid black;

}

.grid-row {
  display: flex;
  font-family: 'Raleway', sans-serif;
}

.cell {
  flex: 1;
  padding: 10px;
  border: 1px solid black;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
}

.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}


/* font family stuff
font-family: 'Raleway', sans-serif;
font-family: 'Montserrat', sans-serif; */
