body {
  background-color: antiquewhite;
}
li {
  font-family: 'Raleway', sans-serif;
  color: indianred;
  list-style-type: none;
}

p {
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: indianred;
  padding-top: 40px;
}

label {
  font-family: 'Montserrat', sans-serif;
  color: indianred;
}

table {
    border-collapse: collapse;

}

th {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  text-align: left;
  padding: 10px;
  font-size: 20px;
  color: indianred;

}

td {
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
  border-top: 1px solid indianred;
}

nav {
  padding-right: 30px;
  align-self: flex-start;

}

a {
  color: inherit;
  text-decoration: none;
}

a.main_header {
  font-weight: bold;
}

td.no_border {
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
}

 # main_body {
  flex-direction: column;
  margin-left: 50px;
}

# main_header {
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
}

.out_of_stock {
  color: red;
  font-weight: bold;
}

.low_stock {
  color: orange;
  font-weight: bold;
}

.stock_level_high {
  color: green;
  font-weight: bold;
}

.container {
  display: flex;
}

.book_detail_number {
  text-align: center;
}

.main_header {
  font-size: 40px;
}

.myButton_update {
	-moz-box-shadow:inset 0px 1px 0px 0px #bd7d77;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bd7d77;
	box-shadow:inset 0px 1px 0px 0px #bd7d77;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fc8d83), color-stop(1, #b8564f));
	background:-moz-linear-gradient(top, #fc8d83 5%, #b8564f 100%);
	background:-webkit-linear-gradient(top, #fc8d83 5%, #b8564f 100%);
	background:-o-linear-gradient(top, #fc8d83 5%, #b8564f 100%);
	background:-ms-linear-gradient(top, #fc8d83 5%, #b8564f 100%);
	background:linear-gradient(to bottom, #fc8d83 5%, #b8564f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc8d83', endColorstr='#b8564f',GradientType=0);
	background-color:#fc8d83;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #b86961;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.myButton_update:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b8564f), color-stop(1, #fc8d83));
	background:-moz-linear-gradient(top, #b8564f 5%, #fc8d83 100%);
	background:-webkit-linear-gradient(top, #b8564f 5%, #fc8d83 100%);
	background:-o-linear-gradient(top, #b8564f 5%, #fc8d83 100%);
	background:-ms-linear-gradient(top, #b8564f 5%, #fc8d83 100%);
	background:linear-gradient(to bottom, #b8564f 5%, #fc8d83 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8564f', endColorstr='#fc8d83',GradientType=0);
	background-color:#b8564f;
}
.myButton_update:active {
	position:relative;
	top:1px;
}
.myButton_search {
	-moz-box-shadow:inset 0px 1px 0px 0px #d13527;
	-webkit-box-shadow:inset 0px 1px 0px 0px #d13527;
	box-shadow:inset 0px 1px 0px 0px #d13527;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7d4d4a), color-stop(1, #331715));
	background:-moz-linear-gradient(top, #7d4d4a 5%, #331715 100%);
	background:-webkit-linear-gradient(top, #7d4d4a 5%, #331715 100%);
	background:-o-linear-gradient(top, #7d4d4a 5%, #331715 100%);
	background:-ms-linear-gradient(top, #7d4d4a 5%, #331715 100%);
	background:linear-gradient(to bottom, #7d4d4a 5%, #331715 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7d4d4a', endColorstr='#331715',GradientType=0);
	background-color:#7d4d4a;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d6473a;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #7d170f;
}
.myButton_search:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #331715), color-stop(1, #7d4d4a));
	background:-moz-linear-gradient(top, #331715 5%, #7d4d4a 100%);
	background:-webkit-linear-gradient(top, #331715 5%, #7d4d4a 100%);
	background:-o-linear-gradient(top, #331715 5%, #7d4d4a 100%);
	background:-ms-linear-gradient(top, #331715 5%, #7d4d4a 100%);
	background:linear-gradient(to bottom, #331715 5%, #7d4d4a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#331715', endColorstr='#7d4d4a',GradientType=0);
	background-color:#331715;
}
.myButton_search:active {
	position:relative;
	top:1px;
}


.myButton_edit {
	-moz-box-shadow:inset 0px 1px 0px 0px #b8251a;
	-webkit-box-shadow:inset 0px 1px 0px 0px #b8251a;
	box-shadow:inset 0px 1px 0px 0px #b8251a;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f0dedd), color-stop(1, #d6bebc));
	background:-moz-linear-gradient(top, #f0dedd 5%, #d6bebc 100%);
	background:-webkit-linear-gradient(top, #f0dedd 5%, #d6bebc 100%);
	background:-o-linear-gradient(top, #f0dedd 5%, #d6bebc 100%);
	background:-ms-linear-gradient(top, #f0dedd 5%, #d6bebc 100%);
	background:linear-gradient(to bottom, #f0dedd 5%, #d6bebc 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0dedd', endColorstr='#d6bebc',GradientType=0);
	background-color:#f0dedd;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #9c5e59;
	display:inline-block;
	cursor:pointer;
	color:#050405;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #cca4a1;
}
.myButton_edit:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d6bebc), color-stop(1, #f0dedd));
	background:-moz-linear-gradient(top, #d6bebc 5%, #f0dedd 100%);
	background:-webkit-linear-gradient(top, #d6bebc 5%, #f0dedd 100%);
	background:-o-linear-gradient(top, #d6bebc 5%, #f0dedd 100%);
	background:-ms-linear-gradient(top, #d6bebc 5%, #f0dedd 100%);
	background:linear-gradient(to bottom, #d6bebc 5%, #f0dedd 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d6bebc', endColorstr='#f0dedd',GradientType=0);
	background-color:#d6bebc;
}
.myButton_edit:active {
	position:relative;
	top:1px;
}


.myButton_delete {
	-moz-box-shadow:inset 0px 1px 0px 0px #99231d;
	-webkit-box-shadow:inset 0px 1px 0px 0px #99231d;
	box-shadow:inset 0px 1px 0px 0px #99231d;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #000000), color-stop(1, #140a0a));
	background:-moz-linear-gradient(top, #000000 5%, #140a0a 100%);
	background:-webkit-linear-gradient(top, #000000 5%, #140a0a 100%);
	background:-o-linear-gradient(top, #000000 5%, #140a0a 100%);
	background:-ms-linear-gradient(top, #000000 5%, #140a0a 100%);
	background:linear-gradient(to bottom, #000000 5%, #140a0a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#140a0a',GradientType=0);
	background-color:#000000;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #752722;
	display:inline-block;
	cursor:pointer;
	color:#db0b46;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #381210;
}
.myButton_delete:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #140a0a), color-stop(1, #000000));
	background:-moz-linear-gradient(top, #140a0a 5%, #000000 100%);
	background:-webkit-linear-gradient(top, #140a0a 5%, #000000 100%);
	background:-o-linear-gradient(top, #140a0a 5%, #000000 100%);
	background:-ms-linear-gradient(top, #140a0a 5%, #000000 100%);
	background:linear-gradient(to bottom, #140a0a 5%, #000000 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#140a0a', endColorstr='#000000',GradientType=0);
	background-color:#140a0a;
}
.myButton_delete:active {
	position:relative;
	top:1px;
}


/* font family stuff
font-family: 'Raleway', sans-serif;
font-family: 'Montserrat', sans-serif; */
